$grey1: #727272;
$grey2: #606060;
$grey3: #484848;
$grey4: #363636;
$grey5: #242424;
$grey6: #121212;
$black: #000000;
$turq: #0075A2;

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: $grey3;
  padding-top: 74px;
  font-size: 1em;
}

.nav-logo {
  width: 40px;
}

#main-header {
  background-color: #fff;
}

.nav-shadow {
  box-shadow: 0 1px 6px 0 rgba(60,64,67,0.2), 0 1px 12px 4px rgba(60,64,67,0.1);
  transition: all 0.5s ease;
}

h1,h2,h3,h4,h5,h6 {
  color: $grey5;
}

h1 {
  font-weight: 700;
  font-size: 1.9em;
}

h2 {
  font-weight: 500;
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

.body-logo {
  max-width: 250px;
}

a {
  transition: all 0.3s ease;
  color: $grey1;
}

a:hover {
  color: $grey3;
  text-decoration: none;
  cursor: pointer;
}

.skills i,
.skills svg {
  font-size: 3em;
}

.xd {
  color: #FF36C4;
}

footer a {
  font-size: 2em;
}


//Custom Bootstrap

.navbar-light {
  .navbar-nav {

    .nav-link {
     color: $grey2;
     transition: all 0.3s ease;
    }

    .nav-link:hover {
      color: $grey5;
    }

    .nav-link:focus {
      color: $grey5;
    }

  }  
  .navbar-toggler {
    border: none;
    transition: all 0.3s ease;
  }

  .navbar-toggler:hover {
    background-color: #eeeeee;
  }

}

.navbar-toggler:focus {
  outline: none;
}


.card {
  border: none;
  min-width: 340px;
}

.card-img-top {
  border-radius: 0;
  height: 266px;
}

@media only screen and (min-width : 576px) {
 h1 {
  font-size: 2.4em;
 }

  h2 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 1.4em;
  }
  .card-img-top {
    height: 255px;
  }
}

@media only screen and (min-width : 768px) {
  h1 {
  font-size: 2.8em;
 }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.5em;
  }
  .profile-img {
    min-width: 250px;
  }
  

}

@media only screen and (min-width : 992px) {
  .card {
    max-width: 450px;
  }
  .card-img-top {
    height: 225px;
  }
}

@media only screen and (min-width : 1200px) {
  .container { 
    max-width: 1500px;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  .profile-img {
    min-width: inherit;
    max-width: 315px;
  }

}


