$black: #121212;
$turq: #0075A2;


body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  color: $black;
  padding-top: 74px;
  font-size: 1em;
}

.nav-logo {
  width: 40px;
}

#main-header {
  background-color: #fff;
}

.nav-shadow {
  box-shadow: 0 1px 6px 0 rgba(60,64,67,0.2), 0 1px 12px 4px rgba(60,64,67,0.1);
  transition: all 0.5s ease;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

h2 {
  font-weight: 500;
  font-size: 1.8em;
}

h4 {
  font-size: 1.2em;
}

.body-logo {
  max-width: 250px;
}

.skills i,
.skills svg {
  font-size: 3em;
}

.xd {
  color: #FF36C4;
}

footer i {
  font-size: 2em;
}

//Custom Bootstrap

.navbar-light {
  .navbar-nav {

    .nav-link {
     color: $black;
     transition: all 0.3s ease;
    }

    .nav-link:hover {
      color: $turq;
    }

    .nav-link:focus {
      color: $black;
    }

  }  
  .navbar-toggler {
    border: none;
    transition: all 0.3s ease;
  }

  .navbar-toggler:hover {
        color: rgba(0,0,0,0.7);
  }

}

.navbar-toggler:focus {
  outline: none;
}

a {
  color: $black;
  transition: all 0.3s ease;
}

a:hover {
  color: $turq;
  text-decoration: none;
  cursor: pointer;
}

.card {
  border: none;
}

@media only screen and (min-width : 576px) {
 h1 {
  font-size: 2.5em;
 }

  h2 {
    font-size: 2.2em;
  }

  h4 {
    font-size: 1.4em;
  }
}

@media only screen and (min-width : 768px) {
  h1 {
  font-size: 3em;
 }

  h2 {
    font-size: 2.5em;
  }

  h4 {
    font-size: 1.5em;
  }
  .profile-img {
    min-width: 250px;
  }

}

@media only screen and (min-width : 992px) {
  #about p {
    font-size: 1.15em;
  }
}

@media only screen and (min-width : 1200px) {
  .container { 
    max-width: 1500px;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 2.5em;
  }

  h5 {
    font-size: 1.5em;
  }

  #about p {
    font-size: 1.3em;
  }

  .profile-img {
    min-width: inherit;
    max-width: 315px;
  }
}


